.collapsible-container {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.collapsible-header-ar {
    width: 100%;
    background: gray;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.collapsible-header-en {
    width: 100%;
    background: gray;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.collapsible-content-ar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    background: #f9f9f9;
    padding: 0 10px;
    display: flex;
    justify-content: end;
}

.collapsible-content-en {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    background: #f9f9f9;
    padding: 0 10px;
    display: flex;
    justify-content: start;
}

/* Dynamically adjusts max-height based on content */
.collapsible-content.open {
    max-height: var(--dynamic-height, 0px);
    padding: 10px;
}
